<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Pagination</h1>
        <p class="lead">Pagination is the sequence of numbers assigned to pages in a book or periodical.</p>
        <p><a href="https://www.google.com/search?q=what+is+pagination&oq=What+is+pagination&gs_lcrp=EgZjaHJvbWUqBwgAEAAYgAQyBwgAEAAYgAQyBwgBEAAYgAQyBwgCEAAYgAQyBwgDEAAYgAQyBwgEEAAYgAQyBwgFEAAYgAQyBwgGEAAYgAQyBwgHEAAYgAQyBwgIEAAYgAQyBwgJEAAYgATSAQk5MTk4ajFqMTWoAgiwAgE&sourceid=chrome&ie=UTF-8" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Pagina</h2>
            <p>Pagina is a Noun. (plural paginas) or page (of, e.g., a book).</p>
            <p><a class="btn btn-outline-dark" href="https://www.google.com/search?q=pagina+meaning&sca_esv=1ddba70af590f790&sca_upv=1&sxsrf=ADLYWII3g90HEBSR-ULW11jwZavcmeNZkw%3A1727335683183&ei=Aw31ZpLoCvyY4-EPwLeKqAM&oq=Pagina+&gs_lp=Egxnd3Mtd2l6LXNlcnAiB1BhZ2luYSAqAggCMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyChAAGIAEGLEDGAoyChAAGIAEGLEDGApIgFVQAFj6NXAGeAGQAQCYAfQDoAHMH6oBCTItNi42LjAuMbgBA8gBAPgBAZgCE6ACiyDCAgoQIxiABBgnGIoFwgIKEAAYgAQYQxiKBcICCxAAGIAEGLEDGIMBwgIOEAAYgAQYsQMYgwEYigXCAgQQIxgnwgILEAAYgAQYkQIYigXCAggQABiABBixA8ICDhAuGIAEGLEDGNEDGMcBwgIREC4YgAQYxwEYmAUYmQUYrwHCAg0QABiABBixAxhDGIoFwgIIEC4YgAQYsQPCAgsQLhiABBjHARivAcICDhAAGIAEGJECGLEDGIoFwgILEC4YgAQYsQMYgwHCAgUQLhiABMICGhAuGIAEGLEDGIMBGJcFGNwEGN4EGOAE2AEBmAMAugYGCAEQARgUkgcJNi4wLjYuNi4xoAeZcA&sclient=gws-wiz-serp">Definition &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">The Pagina project</h2>
            <p>The project was created to simplify pagination.</p>
            <p>It consist of examples and test projects.</p>
            <p>There are two implementations so far:
                <ul>
                    <li>DotNet 4.8 DLL</li>
                    <li>DotNet 8.0 DLL</li>
                </ul>
            </p>
            <p>Implemented the GetData part in this project.</p>
            <p><a class="btn btn-outline-dark" href="https://github.com/EricCronje/Pagina">Go to the project &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Latin for pagination</h2>
            <p>Borrowed from Latin pāgina (“page, sheet”). First attested in 1659.</p>
            <p><a class="btn btn-outline-dark" href="https://en.wiktionary.org/wiki/pagina#:~:text=Borrowed%20from%20Latin%20p%C4%81gina%20(%E2%80%9Cpage,First%20attested%20in%201659.">Definition &raquo;</a></p>
        </section>>
    </div>
</main>